@media screen and (min-width: 600px) {
  /* ------------------------------- CSS RESET ------------------------------- */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
  }

  body {
    background-color: #f5f6fa;
  }

  .bouton {
    background: #45aaf2;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 20px;
    color: #f5f6fa;
    font-size: 1.25rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }

  .bouton:hover {
    background: #45aaf2;
    background-image: -webkit-linear-gradient(top, #45aaf2, #409fdb);
    background-image: -moz-linear-gradient(top, #45aaf2, #409fdb);
    background-image: -ms-linear-gradient(top, #45aaf2, #409fdb);
    background-image: -o-linear-gradient(top, #45aaf2, #409fdb);
    background-image: linear-gradient(to bottom, #45aaf2, #409fdb);
    text-decoration: none;
  }

  /* ------------------------------- TEXTE ------------------------------- */
  h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #2BCBBA;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #0a1a26;
  }

  p {
    font-weight: 300;
    color: #0a1a26;
    font-size: 1.5rem;
  }

  i {
    font-weight: 300;
    font-style: italic;
    color: #0a1a26;
  }

  /* ------------------------------- NAVIGATION ------------------------------- */
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: #0a1a26;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
  }

  header>a>.logo {
    min-height: 4vh;
    max-height: 100%;
  }

  header ul {
    list-style-type: none;
    overflow: hidden;
    display: inline;
  }

  header li {
    display: inline;
    margin: 5px;
  }

  header a {
    text-decoration: none;
    color: #dbdbdb;
  }

  .nav{
    display: none;
  }

  /* ------------------------------- CONTAINER ------------------------------- */
  .contRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .contColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  /* ------------------------------- LANDING 100 ------------------------------- */
  #landingPageIndex {
    position: relative;
    margin: auto;
    max-width: 100vw;
    min-height: 100vh;
    z-index: 30;
  }

  #landingPage {
    position: relative;
    margin: auto;
    max-width: 100vw;
    min-height: 60vh;
  }

  #landingPageIndex a,
  #landingPageIndex h1,
  #landingPage a,
  #landingPage h1{
    color: #f5f6fa;
  }

  .logo {
    max-height: 20vh;
  }

  /* ------------------------------- BACKGROUNDS------------------------------- */
  .bg11 {
    background-image: url("../imgs/femmeCiel.jpg");
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg21 {
    background-image: url("../imgs/casqueJaune.jpg");
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg22 {
    background-image: url("../imgs/femmeRouge.jpg");
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .bg31 {
    background-image: url("../imgs/casque.jpg");
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg41 {
    background-image: url("../imgs/paysage.jpg");
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg42 {
    background-image: url("../imgs/chateau.jfif");
    box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.9);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg43 {
    background-image: url("../imgs/logo.svg");
    box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.9);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    ;
  }

  /* ------------------------------- Section de redirection ------------------------------- */
  #pages {
    max-width: 100vw;
    height: 100vh;
  }

  #pages>.contRow {
    max-width: 100vw;
    height: 50vh;
  }

  .blocTxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    width: 15vw;
    background-color: #45AAF2;
  }

  .blocIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    width: 15vw;
  }

  .blocTxt p {
    color: #f5f6fa;
    font-size: 3rem;
    text-align: center;
  }

  .icon {
    color: #2BCBBA;
    font-size: 10rem;
    text-align: center;
  }

  /* ------------------------------- Section Association ------------------------------- */
  #association {
    max-width: 100vw;
    height: 100vh;
  }

  #association .contColumn, #association .contRow {
    height: 100vh;
    width: 49vw;
  }

  .textBox {
    width: 60%;
    z-index: -1;
    font-size: 1.2rem;
    padding: .5vh 0vh 1.5vh 4vh;
    border-bottom: 1px solid #ccc;
  }

  .iconAsso {
    font-size: 7.5rem;
    margin-left: -70vh;
    margin-bottom: -10vh;
  }

  .assoTxt {
    margin-right: -70vh;
  }

  .assoImg {
    z-index: -3;
    width: 75%;
  }

  /* ------------------------------- Footer ------------------------------- */
  footer {
    height: 5vh;
    background-color: #0a1a26;
    bottom: 0px;
  }

  footer>img {
    height: 75%;
  }

  footer>p {
    color: #f5f6fa;
  }

  /* ------------------------------- VR - description ------------------------------- */
  #description {
    min-height: 40vh;
    width: 75vw;
    font-size: 2rem;
    padding: 5vh;
  }

  /* ------------------------------- VR - 2018 ------------------------------- */
  #vrEn2018 {
    min-height: 100vh;
    font-size: 1.5rem;
    flex-wrap: nowrap;
  }

  .left {
    width: 40%;
    height: 110vh;
  }

  .right {
    width: 60%;
    height: 100%;
    padding: 5vh;
  }

  /* ------------------------------- VR - 2019 ------------------------------- */
  #vrEn2019 {
    min-height: 100vh;
    padding: 5vh;
  }

  .left2019 {
    width: 45%;
    height: 110vh;
  }

  .right2019 {
    width: 45%;
    height: 100%;
  }

  .topAlign {
    align-items: flex-start;
  }

  /* ------------------------------- Blog - articles récents ------------------------------- */
  #articlesRecents {
    min-height: 100vh;
    align-items: baseline;
  }

  .article {
    max-width: 20%;
    margin: 4vh;
  }

  .article>img {
    width: 100%;
  }

  .article>p {
    overflow: hidden;
    white-space: nowrap;
  }

  .articleShow {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 50;
    background-color: red;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .articleContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 80%;
    margin-top: 5vh;
  }

  .close {
    color: #0a1a26;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* ------------------------------- Association - présentation ------------------------------- */
  #presentation {
    max-width: 100vw;
    min-height: 60vh;
  }

  .presentationBox {
    background-color: #CFCFCF;
    padding: 2vh;
    width: 60vw;
    margin-left: -20vw;
  }

  .presentationBox>h1 {
    margin-top: -8vh;
  }

  .cont0 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
  }

  /* ------------------------------- Association - Valeurs ------------------------------- */
  #valeurs {
    padding: 5vh;
  }

  .cont25 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25%;
    width: 30%;
  }

  .cont75 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50%;
    width: 30%;
  }

  .cont100 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 70%;
    width: 30%;
  }

  .iconAsso2 {
    font-size: 7rem;
  }

  /* ------------------------------- Association - Membres ------------------------------- */
  #membres {
    height: 100%;
    max-width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .leftAsso, .rightAsso {
    height: 100%;
    width: 45%;
    padding: 2vw;
  }

  .portrait {
    width: 60%;
  }

  .portrait>img {
    width: 80%;
  }

  .presentationMembre {
    background-color: #ECECEC;
    width: 60%;
    margin-left: auto;
    padding: 2vh;
    margin-top: -8%;
  }

  /* ------------------------------- Association - Évènements ------------------------------- */
  #event {
    width: 100%;
    height: 75vh;
  }

  .events {
    width: 100%;
    height: 100%;
    padding: 10vh;
  }

  .events>h1 {
    height: auto;
    width: 50%;
    margin-left: 0;
    text-align: left;
  }

  .eventInfo {
    display: flex;
    text-align: left;
    height: 80%;
    width: 50%;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  
  /* ------------------------------- Contact ------------------------------- */
  form{
    display:flex;
    margin: auto;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .nameBox, .mailBox, .msgbox{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 2vh;
  }

  .nom, .mail, .message{
    padding: 2vh;
    width: 100px;
    background-color: #45aaf2;
    text-align: left;
    color: #ffffff;
  }

  .champ{
    padding: 8px;
  	border: 4px solid #45aaf2;
  	font-weight: bold;
  	text-decoration: none;
    height: 4vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
  }

  /* ------------------------------- Swiper ------------------------------- */
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-pagination-bullet-active {
    background-color: #2BCBBA !important;
  }

  .swiper-button-next, .swiper-button-prev {
    color: #2BCBBA !important;
  }

  /* ------------------------------- Loader ------------------------------- */
  .conteneur {
    background-color: #45aaf2;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .loader {
    height: 100px;
    width: 100px;
    vertical-align: middle;
    position: relative;
    margin: 5vh;
  }

  .loader-quart {
    border-radius: 100px;
    border: 10px solid rgba(255, 255, 255, .4);
  }

  .loader-quart:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border: 10px solid transparent;
    border-top-color: #f5f6fa;
    border-radius: 100px;
    animation: spin 1s linear 0s infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
