@media (max-width: 500px) {

  /* ------------------------------- CSS RESET ------------------------------- */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
  }

  body {
    background-color: #f5f6fa;
  }

  .bouton {
    background: #45AAF2;
    background-image: -webkit-linear-gradient(top, #45AAF2, #3867d6);
    background-image: -moz-linear-gradient(top, #45AAF2, #3867d6);
    background-image: -ms-linear-gradient(top, #45AAF2, #3867d6);
    background-image: -o-linear-gradient(top, #45AAF2, #3867d6);
    background-image: linear-gradient(to bottom, #45AAF2, #3867d6);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 20px;
    color: #f5f6fa;
    font-size: 1.25rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }

  .bouton:hover {
    background: #45AAF2;
    background-image: -webkit-linear-gradient(top, #45AAF2, #45AAF2);
    background-image: -moz-linear-gradient(top, #45AAF2, #45AAF2);
    background-image: -ms-linear-gradient(top, #45AAF2, #45AAF2);
    background-image: -o-linear-gradient(top, #45AAF2, #45AAF2);
    background-image: linear-gradient(to bottom, #45AAF2, #45AAF2);
    text-decoration: none;
    border: none;
  }

  /* ------------------------------- TEXTE ------------------------------- */
  h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #2BCBBA;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #424242;
  }

  p {
    font-weight: 300;
    color: #424242;
    font-size: 1.5rem;
  }

  i {
    font-weight: 300;
    font-style: italic;
    color: #424242;
  }

  /* ------------------------------- NAVIGATION ------------------------------- */
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: #4a4a4a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
  }

    header a {
      text-decoration: none;
      color: #dbdbdb;
    }

  header>a>.logo {
    min-height: 5vh;
    max-height: 100%;
  }

  header ul {
    list-style-type: none;
    overflow: hidden;
    display: none;
  }

  header li {
    display: inline;
    margin: 5px;
  }

  /* ------------------------------- CONTAINER ------------------------------- */
  .contRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .contColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

}
